@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
/* #00e0fe */
/* #1107fe */
/****************  #25aae1 ************/
body {
    /* font-family: "Roboto", sans-serif; */
    font-family: "Open Sans", sans-serif;
    line-height: 1.8;
    color: #444444;

    /* #444444 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900 !important;
}
img {
    width: 100%;
}
.home-slider .smartInovation .inovationtext-h3 .h3 {
    font-size: 60px;
    line-height: 60px;
    font-family: "Nunito", sans-serif;
}
.smartInovation p {
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}
.smartInovation .logos {
    float: right;
    font-size: 60px;
    color: #fff;
    font-family: "Nunito", sans-serif;
}
@media (max-width: 767.98px) {
    .home-slider .smartInovation .inovationtext-h3 {
        margin-top: 90px;
        margin-left: 30px;
        font-family: "Nunito", sans-serif;
    }
    .home-slider .smartInovation .inovationtext-h3 .h3 {
        font-size: 50px;
        line-height: 50px;
    }
    .smartInovation p {
        margin-top: 20px;
        margin-left: 30px;
        font-size: 20px;
        font-family: "Nunito", sans-serif;
    }

    .smartInovation .logos {
        float: none;
        margin-left: 30px;
        margin-bottom: 0px;
        font-size: 40px;
        margin-bottom: 50px;
        color: #fff;
        font-family: "Nunito", sans-serif;
        margin-top: 0;
        padding-top: 0px;
    }
    .smartInovation .logos img {
        max-width: 200px;
    }

    .smartInovation .logos p {
        margin-top: 0px;
    }
}
.home-slider .smartInovation .inovationtext {
    margin-bottom: 0;
}
.navbar-brand .logo-smart {
    width: 96px;
}
.container-nabar-tow{
    margin-top: -20px;
}

#services img {
    /* min-height: 237px;*/
    max-height: 237px;
}
a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
    color: #20212c;
}
section {
    /* padding-top: 80px; */
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}
/* dd */
.dropbtn {
    padding:0px 0px 0px 16px;
    /* font-size: 16px; */
    /* border: none; */
    cursor: pointer;

  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white ;
    min-width: 203px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 3px solid #3e8ffe;
    /* transform: translateY(90px); */
  }
  .dropdown-content a{
    font-family: "Nunito", sans-serif;
}

  .dropdown-content a:hover {
    color: #3e8ffe;

}

  .dropdown:hover .dropdown-content {
    display: block;

  }

  .dropdown:hover .dropbtn {
    background: linear-gradient(to top,#3e8ffe 15%,white 15%);
    color: #3e8ffe;
  }
/* dd */
/* .dropdown .ldropdown:hover{
    border-bottom: 10px solid #b1c700;
    display: inline-block;
} */
/* .dropdown-menu{
    padding:0px;
} */
/* .dropdown-menu[data-bs-popper]{
    margin-top: 0px;
    border-top: 3px solid #b1c700;
    border-radius: 0px;
} */
/* .navbar .dropdown-item{ */
    /* padding: 10px;
} */

ul {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 0; /* Remove default indentation */
    font-size: 13px;
}
ul li::before {
    content: "-"; /* Add a dash before each list item */
    margin-right: 5px; /* Add some space between the dash and the text */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(17, 7, 254, 0.7), rgba(0, 224, 254, 0.7));
    z-index: -1;
}
.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    padding-bottom: 0px;

}
.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #0f394c;
    white-space: nowrap;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.navbar .dropdown-content a {
    text-transform: none;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    background: -webkit-linear-gradient(#00e0fe, #1107fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 14px 22px;
    transition: all 0.3s ease;
}
.btn:hover {
    color: #fff;
    transform: translateY(-6px);
}
.btn-main {
    background: linear-gradient(to right, #00e0fe, #25aae1);
    /* background: #25aae1; */
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: #fff;
}
.video-btn {
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, #00e0fe, #1107fe);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 100px;
}
.video-btn i {
    font-size: 32px;
}
.section-intro {
    margin-bottom: 40px;
}
.section-intro .divider {
    height: 4px;
    width: 70px;
    margin: 16px auto;
    background: linear-gradient(to right, #00e0fe, #1107fe);
}
.service .service-img {
    position: relative;
}
.service .service-img .plogo{
    /* height: 800px; */
    width: auto;
    min-height: 400px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.service .heigth-box{
     margin-bottom: -77px;
}

.service .service-img .icon {
    width: 90px;
    height: 90px;
    background: linear-gradient(to right, #00e0fe, #25aae1);
    box-shadow: 0 20px 25px rgb(0 0 0 / 12%);
    color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}
.service .service-img .icon i {
    font-size: 36px;
}
.features i {
    background: -webkit-linear-gradient(#00e0fe, #1107fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 54px;
}
.features .img {
    width: 54px;
}
.review {
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
}
.review .person {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 18px;
}
.review .person img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}
.review .stars {
    color: orange;
}
form .form-control {
    border-radius: 0px;
    background: transparent;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
}
form input.form-control {
    height: 54px;
}
form .form-control:focus {
    color: #fff;
    background: transparent;
    border-color: #fff;
}
form .form-control::placeholder {
    color: #fff;
}
footer {
    /* background: linear-gradient(to right, #00e0fe, #1107fe); */
    background: #25aae1;
    color: #fff;
}
footer a {
    color: #fff;
}

/* start slide */

.media img {
    margin-bottom: 20px;
    /* border-radius: 50%; */
    width: 80px !important;
    margin: 0 auto 40px auto;
}

.owl-2-style .owl-nav {
    display: none;
}

.owl-2-style .owl-dots {
    text-align: center;
    position: relative;
    bottom: -30px;
}
.owl-2-style .owl-dots .owl-dot span {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 0px;
    background: #cccccc;
    -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    margin: 3px;
    border-radius: 50%;
}
.owl-2-style .owl-dots .owl-dot.active span {
    background: #007bff;
}
.owl-2-style .owl-dots .owl-dot:active,
.owl-2-style .owl-dots .owl-dot:focus {
    outline: none;
}

.contact .info i {
    font-size: 20px;
    color: #49b5e7;
    float: left;
    width: 44px;
    height: 44px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: white;
}
.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #ecf0f1;
}
.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #49b5e7;
    color: #fff;
}
footer .social a {
    padding-left: 10px;
}

/* ----------------------------------------------------------------- */

/* ----------- start home -------------- */
.owl-carousel.home-slider {
    position: relative;
    height: 650px;
    z-index: 0;
}
.owl-carousel.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
    position: relative;
    z-index: 0;
}
@media (max-width: 1199.98px) {
    .owl-carousel.home-slider .slider-item {
        background-position: center center !important;
    }
}
.owl-carousel.home-slider .slider-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
}
.owl-carousel.home-slider .slider-item .slider-text {
    height: 650px;
    position: relative;
}
.owl-carousel.home-slider .slider-item .slider-text .text {
    z-index: 0;
    color: rgba(255, 255, 255, 0.9);
}
.owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 9vw;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
}
@media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text h1 {
        font-size: 50px;
    }
}
.owl-carousel.home-slider .slider-item .slider-text h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 700;
    color: white;
    color: #f5e4c3;
    display: inline-block;
    position: relative;
    letter-spacing: 4px;
}
.owl-carousel.home-slider .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}
.owl-carousel.home-slider .owl-nav .owl-prev,
.owl-carousel.home-slider .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    outline: none !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}
@media (prefers-reduced-motion: reduce) {
    .owl-carousel.home-slider .owl-nav .owl-prev,
    .owl-carousel.home-slider .owl-nav .owl-next {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.owl-carousel.home-slider .owl-nav .owl-prev span:before,
.owl-carousel.home-slider .owl-nav .owl-next span:before {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
    .owl-carousel.home-slider .owl-nav .owl-prev span:before,
    .owl-carousel.home-slider .owl-nav .owl-next span:before {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.owl-carousel.home-slider .owl-nav .owl-prev:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-prev:focus span:before,
.owl-carousel.home-slider .owl-nav .owl-next:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-next:focus span:before {
    color: #fff;
}
.owl-carousel.home-slider .owl-nav .owl-prev {
    left: 0;
    margin-left: 0;
}
.owl-carousel.home-slider .owl-nav .owl-next {
    right: 0;
    margin-right: 0;
}
.owl-carousel.home-slider:hover .owl-nav .owl-prev,
.owl-carousel.home-slider:hover .owl-nav .owl-next {
    opacity: 1;
}
.owl-carousel.home-slider:hover .owl-nav .owl-prev {
    margin-left: 50px;
}
.owl-carousel.home-slider:hover .owl-nav .owl-next {
    margin-right: 50px;
}
.owl-carousel.home-slider .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
@media (max-width: 767.98px) {
    .owl-carousel.home-slider .owl-dots {
        bottom: 5px;
    }
}
.owl-carousel.home-slider .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
}
.owl-carousel.home-slider .owl-dots .owl-dot.active {
    background: #fff;
}
/* ------ end Home -------- */
/* ------- end owl-carousel ---- */
/* Start Email send */
/* .contact .email-send {
    width: 200px;
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 20px;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
} */
/* End Email send */

.modal-backdrop{
    --bs-backdrop-zindex: 1049;
    background-color: rgba(0,0,0,0.1);
}
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  /* Modal Content (image) */
.modal-contentimg {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
  }

  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation */
  .modal-contentimg, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 1000px){
    .modal-contentimg {
      width: 100%;
    }
  }
/* start studio */

.overlay11{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

.image-popup:hover .overlay11 {
    height: 100%;
  }
  .image-popup:hover .overlay11 .text {
    transition-delay: 1s;
  }
  .text11 {
    color: white;
    font-size: 18px;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


#services img {
    /* min-height: 237px;*/
    max-height: 237px;
}
.services {
    margin-bottom: 40px;
}

.studio .service-img {
    position: relative;
}
.studios .service-img #myImg1,#myImg6,#myImg11,#myImg16,#myImg21,#myImg26{
    border-radius: 10px 25px 0px 0px;
}
.studios .service-img #myImg2,#myImg7,#myImg12,#myImg17,#myImg22,#myImg27{
    border-radius: 25px 0px 0px 10px;
}
.studios .service-img #myImg3,#myImg4,#myImg5,#myImg8,#myImg9,#myImg10,#myImg13,#myImg14,#myImg15,#myImg18,#myImg19,#myImg20,#myImg23,#myImg24,#myImg25,#myImg28,#myImg29,#myImg30{
    border-radius: 0px 10px 10px 0px;
}

.studio-creation{
    margin-top: 200px;
    margin-bottom: 50px;
}
.studios .button {
    background-color: #b1c700;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
    cursor: pointer;
    border-radius: 10% 30% 50% 70%;
  }
 .studios .button:hover {
    background-color: #333; /* Change the background color on hover */
  }
/* end studio */

/* sidebar */
.imgSlide {
    vertical-align: middle;
  }

  /* Hide the images by default */
.mySlides {
    display: none;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }


  .row1:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 25%;
  }

  /* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }
/* sidebar */
.cursor-pointer{
    cursor: pointer;
}
